cmake_install.cmake
CMakeCache.txt
libgeometry.a
libutils.a
Makefile
.vscode/settings.json
bin/3d
CMakeFiles/cmake.check_cache
CMakeFiles/CMakeDirectoryInformation.cmake
CMakeFiles/CMakeError.log
CMakeFiles/CMakeOutput.log
CMakeFiles/Makefile.cmake
CMakeFiles/Makefile2
CMakeFiles/progress.marks
CMakeFiles/TargetDirectories.txt
CMakeFiles/3.23.1/CMakeCCompiler.cmake
CMakeFiles/3.23.1/CMakeCXXCompiler.cmake
CMakeFiles/3.23.1/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.23.1/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.23.1/CMakeSystem.cmake
CMakeFiles/3.23.1/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.23.1/CompilerIdC/CMakeCCompilerId.o
CMakeFiles/3.23.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/3.23.1/CompilerIdCXX/CMakeCXXCompilerId.o
CMakeFiles/3d.dir/build.make
CMakeFiles/3d.dir/cmake_clean.cmake
CMakeFiles/3d.dir/compiler_depend.internal
CMakeFiles/3d.dir/compiler_depend.make
CMakeFiles/3d.dir/compiler_depend.ts
CMakeFiles/3d.dir/depend.make
CMakeFiles/3d.dir/DependInfo.cmake
CMakeFiles/3d.dir/flags.make
CMakeFiles/3d.dir/link.txt
CMakeFiles/3d.dir/progress.make
CMakeFiles/3d.dir/src/main.cpp.o
CMakeFiles/3d.dir/src/main.cpp.o.d
CMakeFiles/geometry.dir/build.make
CMakeFiles/geometry.dir/cmake_clean_target.cmake
CMakeFiles/geometry.dir/cmake_clean.cmake
CMakeFiles/geometry.dir/compiler_depend.internal
CMakeFiles/geometry.dir/compiler_depend.make
CMakeFiles/geometry.dir/compiler_depend.ts
CMakeFiles/geometry.dir/depend.make
CMakeFiles/geometry.dir/DependInfo.cmake
CMakeFiles/geometry.dir/flags.make
CMakeFiles/geometry.dir/link.txt
CMakeFiles/geometry.dir/progress.make
CMakeFiles/geometry.dir/src/geometry.cpp.o
CMakeFiles/geometry.dir/src/geometry.cpp.o.d
CMakeFiles/geometry.dir/src/geometry/geometry.cpp.o
CMakeFiles/geometry.dir/src/geometry/geometry.cpp.o.d
CMakeFiles/utils.dir/build.make
CMakeFiles/utils.dir/cmake_clean_target.cmake
CMakeFiles/utils.dir/cmake_clean.cmake
CMakeFiles/utils.dir/compiler_depend.internal
CMakeFiles/utils.dir/compiler_depend.make
CMakeFiles/utils.dir/compiler_depend.ts
CMakeFiles/utils.dir/depend.make
CMakeFiles/utils.dir/DependInfo.cmake
CMakeFiles/utils.dir/flags.make
CMakeFiles/utils.dir/link.txt
CMakeFiles/utils.dir/progress.make
CMakeFiles/utils.dir/src/utils/utils.cpp.o
CMakeFiles/utils.dir/src/utils/utils.cpp.o.d
